/* ---------------------------- MAIN STYLES --------------------- */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bangers&display=swap");
@font-face {
  font-family: "BoldenVan";
  src: url("./fonts/BoldenVan_demo.ttf");
}

.owl-theme .owl-nav.disabled + .owl-dots {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  gap: 31px;
}

.owl-theme .owl-dots .owl-dot span,
.owl-theme .owl-dots .owl-dot:hover span {
  background: #212139 !important;
  width: 12px;
  height: 12px;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background: #ff1686 !important;
}

.owl-next {
  right: -195px !important;
}

.owl-prev {
  left: -195px !important;
}

.team_block:hover {
  border: 1px solid rgba(192, 192, 192, 0.308);
  border-top: none;
}

.open-slider-info {
  display: none;
}

.obj_btn,
.open-slider-info {
  position: relative;
  width: 50px;
  height: 50px;
}

.obj_btn object,
.open-slider-info object {
  position: absolute;
  z-index: -2;
  top: 15px;
  left: 7px;
}

.main_img_floor {
  width: 737px;
  height: 464px;
}
/* Metamask errors */
.errors-block p {
  font-family: Montserrat;
  /*font-style: normal;*/
  /*font-weight: 500;*/
  font-size: 14px;
  /*line-height: 170%;*/
  color: #FF1686;
}

.error_message {
  display: none;
  /* display: inline-block; */
  position: absolute;
  width: 226px;
  height: 72px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 170%;
  color: #ff1686;
  margin-left: 24px;
}

body {
  background-color: rgba(18, 19, 35, 1);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
* {
  list-style-type: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #fff;
  font-family: "Montserrat";
  text-decoration: none !important;
}

h4 {
  text-align: center !important;
}

.figure-body {
  position: absolute;
  min-height: 8580px;
  width: 100%;
  overflow: hidden;
  top: 0;
}

.silver_text {
  font-weight: 500;
  font-size: 16px;
  margin-top: 28px;
  margin-bottom: 30px;
  color: #c9cbd6;
}

.yellow_text {
  color: #e9cd1a !important;
}

.logo-bloc {
  max-width: 250px;
}

/* ---------------------------- MENU --------------------- */

.menu {
  margin-top: 29px;
  text-align: center !important;
  font-size: 15px;
}

.menu_show {
  display: none;
}

.logo img {
  display: block;
  width: 85px;
  vertical-align: 14px;
  margin-right: 0;
  padding-right: 0;
}

.logo_text {
  font-family: BoldenVan;
  font-size: 22px;
  font-weight: 400;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  margin-left: 10px;
}

.menu ul li:nth-child(7),
.menu ul li:nth-child(8),
.menu ul li:nth-child(9) {
  margin-right: 13px;
}

.menu .social {
  margin-right: 30px;
}

.menu button {
  outline: none !important;
  border: none !important;
}

.menu ul li a.pink_button {
  font-size: 14px;
}
.pink_button {
  width: 194px;
  background: linear-gradient(273.12deg, #e61661 0%, #fa288d 100%);
  border-radius: 6px;
  border: none;
  outline: none;
  font-weight: 800;
  font-size: 14px;
  color: #ffffff;
  padding: 14.6px 0;
}

.pink_button:active {
  background: linear-gradient(
      0deg,
      rgba(17, 18, 34, 0.18),
      rgba(17, 18, 34, 0.18)
    ),
    linear-gradient(273.12deg, #e61661 0%, #fa288d 100%);
}

.pink_button:disabled {
  background: linear-gradient(273.12deg, #e61661 0%, #fa288d 100%);
  color: rgba(255, 255, 255, 0.5) !important;
}

.view_entire_team_button {
  width: 252px !important;
}


.buy_shabangrs_btn {
  width: auto;
  font-weight: 800;
  font-size: 18px;
  padding: 21px 39px 17px;
}

/* Metamask errors */
.errors-block p {
  font-family: Montserrat;
  /*font-style: normal;*/
  /*font-weight: 500;*/
  font-size: 14px;
  /*line-height: 170%;*/
  color: #FF1686;
}

.insta {
  width: 24px;
  height: 21px;
}

.left_menu {
  margin-left: 48px;
}

.left_menu .nav-item .nav-link {
  padding-right: 40px;
  font-weight: 600;
  font-size: 15px;
  color: #fff;
}
.left_menu .nav-item .nav-link.active {
  color: #ffffff;
}

/* ---------------------------- REPRESENTATION --------------------- */
.little_rep {
  display: none;
}
.representation {
  margin-top: 25px;
  padding-bottom: 250px;
}

.gray_block {
  width: 82px;
  height: 68px;
  background: linear-gradient(124.64deg, #28224e -0.27%, #22224e 100%);
  border-radius: 4px;
  display: flex !important;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.representation ul .gray_li .silver_text {
  font-size: 10px;
  display: block;
  margin-top: -4px;
}
.representation ul .gray_li .silver_text {
  font-size: 10px;
  display: block;
  margin-top: -4px;
}

.representation h1 {
  font-weight: 900;
  font-size: 56px;
  line-height: 110%;
  text-transform: uppercase;
  margin-bottom: 0;
  color: #ffffff;
}

.silver_text__top {
  margin-top: 20px;
  margin-bottom: 10px;
  font-weight: 500;
  color: #ffffff;
  font-size: 15px;

  color: rgba(255, 255, 255, 0.5);
}

.priuce_and_gas-second-top {
  margin-left: 31px;
}

.main_img {
  max-width: 717px;
  min-height: 750px;
  width: auto;
  height: 100%;
  background-image: url(../assets/images/optimized/main_image_small_res_no_logo.png);
  background-repeat: no-repeat;
  background-size: 100%;
  margin-left: auto;
}

.main_img svg {
  position: relative;
  top: 500px;
  z-index: -1;
}
.main_img-circle {
  background: url(../assets/images/vector/group_133.svg);
  position: relative;
  bottom: 117px;
  right: 54px;
  z-index: 9;
  width: 320px;
  height: 200px;
}

.main_info {
  margin-top: 77px;
  width: 45%;
}
.representation img {
  width: 100%;
  height: auto;
}
#buy_shabangrs {
  margin-left: 3%;
  margin-top: 45px;
  height: 61px;
  font-size: 16px !important;
  font-weight: 800 !important;
}

.representation ul .gray_li {
  display: inline-block;
  padding: 7px 25px 8px 25px;
}

.representation ul .gray_li p {
  margin: 0px;
  text-align: center;
}

.representation ul .gray_li .yellow_text {
  font-size: 26px;
  font-weight: 700;
  display: block;
}

.representation ul .gray_li .silver_text {
  font-size: 10px;
  display: block;
  margin-top: -4px;
}

.representation ul li img {
  width: 50%;
  height: 50%;
}

.representation p.silver_text {
  margin-bottom: -7px;
  margin-left: 6%;
  color: #fff !important;
}

.form_buttons ul {
  margin-left: -4%;
}

.form_buttons ul li {
  display: inline-block;
  margin-right: -5px;
}

.btn-calc {
  font-weight: bold;
  font-size: 22px;
  line-height: 150%;
  border: none;
  padding: 15px 32px;
  background: linear-gradient(180deg, rgba(34, 34, 78, 0.4) 0%, #2c2c55 100%);
}

.calc_border-plus {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.calc_border-minus {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.btn-calc {
  width: 107px;
}

.button_max {
  border-radius: 4px;
  font-size: 16px;
  padding: 20px 32px;
  width: 120px;
}

.btn-calc:disabled {
  color: rgb(90, 87, 87) !important;
}

.btn-calc:active {
  color: #e9cd1a !important;
}

/* ---------------------------- ABOUT --------------------- */
.about {
  position: relative;
}

.about h5 {
  font-weight: 900;
  font-size: 20px;
  margin-bottom: 0;
}

.about img {
  width: 100%;
  height: 100%;
}

.video_preview {
  width: 474px;
  height: 430px;
  border-radius: 14px;
  background: linear-gradient(110.53deg, #fd9801 1.09%, #e9cd1a 100%), #f3d511;
  background-image: url(../assets/images/optimized/video.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: left;
  margin-bottom: 60px;
}

.shadow_video {
  position: relative;
  width: 470px;
  height: 430px;
  background: linear-gradient(
    180deg,
    rgba(18, 19, 35, 0) 2.94%,
    #1c1c3f 82.06%,
    #241d44 100%
  );
  border-radius: 16px;
  left: 56px;
  top: 56px;
  z-index: -1;
}

.play_video {
  width: 114px;
  height: 114px;
  background: url(../assets/images/vector/play_video.svg) #fff no-repeat;
  background-position: center;
  border-radius: 100px;
  position: relative;
  bottom: 271px;
  left: 181px;
  z-index: 9;
}

.about-text-block {
  margin-top: 41px;
  margin-left: auto;
}

.about-text {
  font-weight: 900;
  font-size: 42px;
}
/* ---------------------------- COMMUNITY --------------------- */

.middle_circle {
  width: 277px;
  height: 277px;
  position: absolute;
  top: 50px;
  background-size: contain;
  right: -75px;
  border-radius: 100%;
  background: radial-gradient(
    112.31% 112.31% at 81.17% 13.17%,
    rgba(40, 34, 79, 0.4) 0%,
    rgba(16, 15, 35, 0.4) 68.93%,
    rgba(18, 15, 33, 0.4) 100%
  );
}

.left_circle {
  position: absolute;
  top: 133px;
  left: -60px;
  width: 161px;
  height: 161px;
  border-radius: 100%;
  background: radial-gradient(
    112.31% 112.31% at 81.17% 13.17%,
    rgba(40, 34, 79, 0.35) 0%,
    rgba(16, 15, 35, 0.35) 68.93%,
    rgba(18, 15, 33, 0.35) 100%
  );
}

.left_circle-bottom {
  position: absolute;
  left: 140px;
  top: 288px;
  width: 78px;
  height: 78px;
  border-radius: 100%;
  background: radial-gradient(
    112.31% 112.31% at 81.17% 13.17%,
    rgba(40, 34, 79, 0.35) 0%,
    rgba(16, 15, 35, 0.35) 68.93%,
    rgba(18, 15, 33, 0.35) 100%
  );
}

.social_block a:active {
  color: #8087ac !important;
}

.community {
  position: relative;
  width: auto;
  padding-top: 250px;
  /*overflow-x: hidden;*/
}

.community-border {
  border-radius: 24px;
  border-top: 2px solid rgba(212, 208, 246, 0.3);
  border-right: 2px solid rgba(212, 208, 246, 0.1578);
  border-left: 2px solid rgba(212, 208, 246, 0.1578);
  position: relative;
  z-index: 1;
}

.img_centr {
  width: 127px;
  padding: 0px;
}

.img_centr img {
  width: 100%;
}

.big_comm {
  display: none;
}

.community h2 {
  text-align: center;
  font-weight: 900;
  font-size: 44px;
}

.community .silver_text {
  font-weight: 500;
  font-size: 16px;
  color: #c9cbd6;
  width: 428px;
  margin: 12px auto 27px;
  text-align: center;
}

.community .yellow_text {
  font-weight: 900;
  font-size: 24px;
  color: rgba(233, 205, 26, 1);
  margin-bottom: 30px;
}

.big_border {
  height: 133%;
  position: absolute;
  top: -293px;
  left: 2%;
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  z-index: -50;
}

.community_images div {
  padding: 0px;
}

.community ul li {
  display: inline-block;
  margin-right: 100px;
  font-weight: 900;
  margin-bottom: 24px;
}

.community ul li:last-child {
  margin-right: 0px;
}

.social_block {
  text-align: center;
  display: flex;
  text-align: center;
  justify-content: center;
}

.big_circle {
  width: 636px;
  height: 636px;
  background-image: url(../assets/images/vector/vector_2.svg);
  position: relative;
  margin-top: 133px;
  top: 0;
  left: 339px;
  z-index: -1;
}

.community-content {
  position: absolute;
  top: 52px;
  right: -50px;
  width: 744px;
}
.social_images {
  width: 22px;
}

.social-text {
  font-weight: 900;
  font-size: 16px;
  text-transform: uppercase;
}

.slac {
  border-radius: 0px !important;
  border: none !important;
  width: 14px !important;
}
.lit_comm {
  margin-top: 40px;
}

.comm_images {
  display: flex;
}

/* ---------------------------- UTILITY --------------------- */
.utility {
  margin-top: 200px;
  position: relative;
}

.utility .title {
  font-weight: 900;
  font-size: 44px;
  text-transform: uppercase;
  text-align: center;
}

.utility .silver_text {
  margin-bottom: 43px;
}

.pink_parrent {
  text-align: center;
}

.pinc_circle {
  width: 156px;
  height: 156px;
  background: linear-gradient(273.12deg, #e61661 0%, #fa288d 100%);
  border-radius: 50%;
  margin-top: 93px;
  display: inline-block;
}

.big_borders {
  display: none;
  position: absolute;
  top: 8px;
  left: 0%;
  width: 100%;
  height: 200%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -5555;
}

.slider_block {
  margin-top: 43px;
  width: 100%;
  height: auto;
  height: 600px;
  overflow: hidden;
}

.sliders {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap !important;
  gap: 32px;
  height: auto !important;
}
.slider-hider {
  width: 108px;
  min-height: 108px;
  background: linear-gradient(
    273.12deg,
    rgba(230, 22, 97, 0.15) 0%,
    rgba(250, 40, 141, 0.15) 100%
  );
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  display: flex;
  transition: 0.5s;
}

.slider-hider:hover {
  background: linear-gradient(
    273.12deg,
    rgba(230, 22, 97, 0.5) 0%,
    rgba(250, 40, 141, 0.5) 100%
  );
}

.slider-title {
  font-weight: 800;
  font-size: 20px;
  margin-top: 17px;
}

.slider_description {
  width: 230px;
  padding: 0;
  margin: 12px auto;
  min-height: 750px;
}

.slider_description li {
  font-weight: 500;
  font-size: 15px;
  list-style-type: disc;
  color: #c9cbd6;
  line-height: 170%;
  margin-top: 12px;
}

.slider_cell {
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 0;
  width: 305px;
  height: 550px;
  border-radius: 16px;
  border-style: solid;
  border-color: rgba(212, 208, 246, 0.3) rgba(212, 208, 246, 0.1578)
    rgba(212, 208, 246, 0);
}

.slider_cell .slide_img {
  width: 108px !important;
  height: 108px;
  padding: 25px;
  background: linear-gradient(
    273.12deg,
    rgba(230, 22, 97, 0.15) 0%,
    rgba(250, 40, 141, 0.15) 100%
  );
  border-radius: 50%;
  cursor: pointer;
  margin-bottom: 15px;
}

.slider_cell .slide_img:hover {
  background: linear-gradient(
    273.12deg,
    rgba(230, 22, 97, 0.5) 0%,
    rgba(250, 40, 141, 0.5) 100%
  );
}

.slider_buttons {
  position: relative;
}

.slider_buttons button {
  position: absolute;
  border-radius: 50%;
  background: linear-gradient(8.97deg, #1c1c38 4.67%, #16162e 96.3%), #1c1c34;
  border: none;
  outline: none;
  width: 70px;
  height: 70px;
  top: -555px;
}

.slider_buttons button:hover {
  background: linear-gradient(273.12deg, #e61661 0%, #fa288d 100%);
}

.slider_buttons button.prev {
  left: -8%;
}
.slider_buttons button.next {
  right: -8%;
}

/* Supporting images for navText of own carousel */
.img_prev {
  content: url("../slider_icons/prev.svg");
}
.img_next {
  content: url("../slider_icons/next.svg");
}

.slider_cell .silver_text {
  text-align: left;
}

.slider_cell .informative_text {
  text-align: left;
  opacity: 0;
  transition: 0.7s;
  height: auto !important;
}

.show_text {
  cursor: pointer;
  margin-top: 25px;
  width: 15px;
  height: 15px;
}

#hide_img_text,
#hide_vid_text,
#hide_mov_text,
#hide_meta_text,
#hide_pers_text,
#hide_pho_text {
  opacity: 0;
}

.hidden_block_one,
.hidden_block_two {
  display: none;
}

.slider_buttons_pink {
  display: none;
}

/* ---------------------------- TEAM --------------------- */
.team {
  margin-top: 250px;
}

.team-info {
  width: 386px;
  margin: auto;
  text-align: center;
}
.hidden_team_block {
  display: none;
}

.team_block {
  background: linear-gradient(
    180deg,
    rgba(18, 19, 35, 0) 2.94%,
    #1c1c3f 82.06%,
    #241d44 100%
  );
  border-radius: 16px;
  text-align: center;
  padding: 30px;
  max-width: 306px;
}

.team_block img {
  width: 120px;
  height: 120px;
}

.team button {
  margin-top: 71px;
}

.team h3 {
  text-align: center;
  font-weight: 900;
  font-size: 44px;
}

.team_block .yellow_text {
  font-weight: 700;
  margin-top: 14px;
  margin-bottom: 0;
}

.team_block .silver_text {
  margin-top: 5px;
  margin-bottom: 0;
}

#show_team {
  margin: 42px auto 0;
  padding: 14.5px 32px;
  font-weight: 800;
  font-size: 18px;
  width: 252px;
}

/* ---------------------------- ROADMAP --------------------- */
.roadmap {
  margin-top: 250px;
  position: relative;
}

.little_road {
  display: none;
}

.roadmap h3 {
  text-align: center !important;
  font-weight: 900;
  font-size: 44px;
}

.roadmap .progress-left {
  text-align: right !important;
}

.roadmap .progress-right {
  text-align: left !important;
}

.roadmap-info {
  width: 705px;
  text-align: center;
  margin: auto;
}

.description {
  border-bottom: none;
  border-radius: 12px;
  text-align: left !important;
  padding: 25px 50px 20px 30px;
}

.description h4 {
  text-align: left !important;
  width: 324px;
  height: 34px;
  padding-bottom: 25px;

  font-style: normal;
  font-weight: 900;
  font-size: 20px;

  text-transform: uppercase;

  color: #ffffff;
}

.description p {
  text-align: left;
  width: 100%;
}

.little_description {
  text-align: left;
}

.little_description p {
  height: 30px;
}

.little_description h3 {
  font-weight: 900;
}

.image_part {
  text-align: center;
  position: relative;
}

.line {
  position: relative;
  display: inline-block;
  width: 1px;
  height: 100%;
  border: 2px solid rgba(212, 208, 246, 0.4);
  top: -10px;
  left: 64px;
  z-index: -1;
  padding-bottom: 40px;
}

.road-block {
  padding-bottom: 40px;
}

.relate_row > div {
  position: relative;
}

.little_border {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: -7%;
}

.little_border img {
  width: 100%;
}

.big_road {
  margin-top: 48px;
}

.big_road-text_block {
  width: 590px;
  border-radius: 16px;
  border-style: solid;
  border-color: rgba(212, 208, 246, 0.3) rgba(212, 208, 246, 0.1578)
    rgba(212, 208, 246, 0);
  padding: 30px 38px;
}

.big_road-text_block-text {
  font-weight: 500;
  font-size: 15px;
  line-height: 170%;
  color: #c9cbd6;
}
.big_road-text_block-title {
  font-weight: 900;
  font-size: 20px;
}

.big_road-circle_block {
  display: flex;
  width: 58px;
  height: 58px;
  background: rgba(227, 43, 124, 0.2);
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  margin: 0 38px;
}

.big_road-circle_box {
  width: 42px;
  height: 42px;
  background: linear-gradient(90deg, #f13c93 0%, #cb0c51 100%);
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  display: flex;
}

.big_road-percent_block {
  width: 590px;
}

.big_road-percent_block-title {
  font-weight: 500;
  font-size: 16px;
  text-transform: uppercase;
  margin-bottom: 0;
}

.big_road-percent_block-number {
  font-weight: 800;
  font-size: 36px;
  line-height: 170%;
  text-transform: uppercase;
}

.circ_road {
  position: absolute;
  top: 23px;
  left: 48.8%;
  width: 10px;
}

.circ_road .done {
  width: 12px;
}

.faq h3 {
  text-align: center;
  font-weight: 900;
  font-size: 44px;
  line-height: 110%;
  text-transform: uppercase;
  color: #fff;
}

details[open] summary ~ * {
  animation: open 0.3s ease-in-out;
}

@keyframes open {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
details summary::-webkit-details-marker {
  display: none;
}
details {
  position: relative;
}

.border_relative {
  position: relative;
}

.faq_border {
  background: linear-gradient(
    56deg,
    rgba(212, 208, 246, 0) 0%,
    rgba(212, 208, 246, 0.2) 51.56%,
    rgba(212, 208, 246, 0) 100%
  );
  height: 2px;
  width: 100%;
}

details summary {
  padding: 7% 0;
  position: relative;
  cursor: pointer;
  list-style: none;
  width: 610px;
  height: 24px;
  font-style: normal;
  font-weight: 800;
  font-size: 17px;
  line-height: 120%;
  text-transform: uppercase;
}

details summary:after {
  content: url(../assets/images/vector/down_icon.svg);
  color: white;
  position: absolute;
  font-size: 1.75rem;
  line-height: 0;
  margin-top: 0.25rem;
  right: 0;
  font-weight: 200;
  transform-origin: center;
  transition: 200ms linear;
}

details[open] summary:after {
  font-size: 2rem;
  color: #e9cd1a;
  content: url(../assets/images/vector/up_arrow_icon.svg);
}

details summary {
  outline: 0;
}
details p {
  font-weight: 500;
  font-size: 15px;
  color: #c9cbd6;
}

.faq details {
  transition: 0.5s;
}

.faq {
  margin-top: 250px;
}

.faq-info {
  width: 498px;
}

/* ---------------------------- FOOTER --------------------- */

.lit_foot {
  display: none;
}
.footer {
  position: relative;
}

.footer_section {
  position: relative;
}

.footer .footer_info {
  width: 470px;
  text-align: center;
  margin: auto;
}

.footer h3 {
  text-align: center;
  height: 48px;
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 110%;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 90px;
  margin-top: 120px;
}

.sponsors {
  margin-top: 240px;
  margin-bottom: 250px;
}

.sponsors__title h3 {
  font-weight: 900;
  font-size: 44px;
}

.sponsors__wrapper-1,
.sponsors__wrapper-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 25px;
  gap: 20px;
}

.sponsors__wrapper-1 div,
.sponsors__wrapper-2 div {
  /* No need to limit partners logo otherwise they got cut*/
  /*width: 180px;*/
  /*height: 55px;*/
  overflow: hidden;
}

.sponsors__wrapper-1 a,
.sponsors__wrapper-2 a {
  /* Allow URLs http://jsfiddle.net/energee/UL9k9/ */
  display: inline-block;

}

.sponsors__wrapper-1 object,
.sponsors__wrapper-2 object {
  /* Allow URLs http://jsfiddle.net/energee/UL9k9/ */
  pointer-events: none;

}

.sponsors__wrapper-1 div img,
.sponsors__wrapper-2 div img {
  /* No need to limit partners logo otherwise they got cut*/
  /*width: 180px;*/
  /*height: 55px;*/
  cursor: pointer;
}

.sponsors__wrapper div div img {
  opacity: 0.5;
}

.sponsors__wrapper div div img:hover {
  opacity: 1;
}

.sponsors__wrapper-1 div object,
.sponsors__wrapper-2 div object {
  /* No need to limit partners logo otherwise they got cut*/
  /*width: 180px;*/
  /*height: 55px;*/
  cursor: pointer;
}

.sponsors__wrapper div div object {
  opacity: 0.5;
}

.sponsors__wrapper div div object:hover {
  opacity: 1;
}

.footer__button {
  text-align: center;
}

.footer_block_new {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 103px;
}

.footer_block_new-img {
  background: linear-gradient(
    180deg,
    rgba(17, 18, 34, 0) 0%,
    rgba(17, 18, 34, 0.225) 70.31%,
    rgba(17, 18, 34, 0.35) 100%
  );
  border-radius: 10px;
  width: 306px;
  height: 380px;
}

.footer_block_new img {
  width: 100%;
}

.footer__button .pink_button {
  font-size: 18px;
  padding: 17px 32px;
  width: 262px;
}

.footer_links {
  margin: 100px 0;
}
.owl-nav {
  display: flex;
  justify-content: space-between;
}
.little__rep-title {
  font-weight: 800 !important;
  background: linear-gradient(to right, #e61661 0%, #fa288d 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 14px !important;
  width: 223px;
}

.little__rep-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.little__rep-wrapper__div {
  position: relative;
}

.little__rep-wrapper__div::after {
  position: absolute;
  height: 2px;
  content: "";
  bottom: 0;
  background: linear-gradient(
    90deg,
    rgba(18, 19, 35, 0.5382528011204482) 0%,
    rgba(141, 21, 71, 0.7847514005602241) 16%,
    rgba(230, 22, 97, 1) 31%,
    rgba(250, 40, 141, 1) 69%,
    rgba(108, 27, 76, 0.7819502801120448) 84%,
    rgba(18, 19, 35, 0.5550595238095238) 100%
  );
  width: 100%;
  margin-top: 8px;
}

.little__rep-wrapper__form {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 12px;
  width: 330px;
  margin-top: 30px;
}

.little__rep-wrapper__form-first {
  display: flex;
  flex-direction: row;
  flex: 1;
}

.form__first-first {
  flex: 0.2;
}

.form__first-first button {
  border: none;
  outline: none;
  height: 56px;
  width: 100%;
  background: linear-gradient(180deg, rgba(34, 34, 78, 0.4) 0%, #2c2c55 100%);
  font-size: 22px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.form__first-third {
  flex: 0.2;
}

.form__first-third button {
  border: none;
  outline: none;
  height: 56px;
  width: 100%;
  background: linear-gradient(180deg, rgba(34, 34, 78, 0.4) 0%, #2c2c55 100%);
  font-weight: 700;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.form__first-second {
  flex: 0.6;
}

.form__first-second input {
  border: none;
  outline: none;
  height: 56px;
  width: 100%;
  background: linear-gradient(180deg, rgba(34, 34, 78, 0.4) 0%, #2c2c55 100%);
  text-align: center;
  font-size: 22px;
  font-weight: 700;
}

.max__button {
  width: 82px;
}

.max__button button {
  border: none;
  outline: none;
  height: 56px;
  width: 100%;
  background: linear-gradient(180deg, rgba(34, 34, 78, 0.4) 0%, #2c2c55 100%);
  font-weight: 700;
  border-radius: 4px;
}

.priuce_and_gas {
  width: 330px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10px;
}

.priuce_and_gas-first {
  font-size: 15px !important;
  font-weight: 700 !important;
}

.priuce_and_gas-second {
  font-size: 14px !important;
  font-weight: 500 !important;
  opacity: 0.5;
}

.priuce_and_gas-top {
  font-weight: bold;
  font-size: 16px;
  display: flex;
  flex-direction: row;
  line-height: 150%;
  word-spacing: 3px;
  padding-top: 10px;
}

.owl-prev {
  position: absolute;
  top: 50px;
  left: -192px;
  background: linear-gradient(8.97deg, #1c1c38 4.67%, #16162e 96.3%), #1c1c34 !important;
  width: 70px;
  height: 70px;
  border-radius: 50% !important;
}

.owl-next {
  position: absolute;
  top: 50px;
  right: -192px;
  background: linear-gradient(8.97deg, #1c1c38 4.67%, #16162e 96.3%), #1c1c34 !important;
  width: 74px;
  height: 74px;
  border-radius: 50% !important;
}

.owl-next:hover,
.owl-prev:hover {
  background: linear-gradient(273.12deg, #e61661 0%, #fa288d 100%) !important;
}

/*** FIGURE ***/

.header-elips {
  width: 100%;
  height: 1200px;
  position: absolute;
  overflow-x: hidden;
  top: 0;
  z-index: -35;
}
.elips-9 {
  position: absolute;
  width: 691px;
  height: 701px;
  left: -75px;
  top: -250px;
  z-index: -1;
}

.elips-10 {
  position: absolute;
  width: 662px;
  height: 901px;
  left: 1520px;
  top: -66px;
  z-index: -1;
}

.elips-12 {
  position: absolute;
  width: 964px;
  height: 774px;
  left: 209px;
  top: 20px;
  z-index: -1;
}

.elips-14 {
  position: absolute;
  width: 790px;
  height: 580px;
  left: 802px;
  top: -88px;
  z-index: -1;
}

.elips-11 {
  position: absolute;
  width: 909px;
  height: 919px;
  left: 260px;
  top: 555px;
  z-index: -1;
}

.elips-16 {
  position: absolute;
  width: 637px;
  height: 501px;
  right: 409px;
  top: 597px;
  z-index: -1;
}

.elips-17 {
  position: absolute;
  width: 744px;
  height: 800px;
  right: 78px;
  top: 566px;
  z-index: -1;
}

.elips-2-16 {
  position: absolute;
  width: 703px;
  height: 351px;
  left: 322px;
  top: 195px;
  z-index: -1;
}

.elips-2-17 {
  right: 293px;
  top: 195px;
  position: absolute;
  width: 729px;
  height: 380px;
  z-index: -1;
}

.elips-2-18 {
  position: absolute;
  width: 447px;
  height: 144px;
  left: 737px;
  top: 97px;
  z-index: -1;
}

/*** Roadmap ***/
.elips-3-19 {
  position: absolute;
  width: 297px;
  height: 293px;
  right: 507px;
  top: 1068px;
  transform: rotate(90deg);
  z-index: -1;
}

.elips-3-18 {
  position: absolute;
  width: 582px;
  height: 635px;
  left: 548px;
  top: 237px;
  z-index: -1;
  transform: rotate(90deg);
}

.elips-3-17 {
  position: absolute;
  width: 553px;
  height: 581px;
  right: 537px;
  top: 676px;
  z-index: -1;
  transform: rotate(90deg);
}

.elips-3-16 {
  position: absolute;
  width: 413px;
  height: 643px;
  right: 475px;
  top: 87px;
  z-index: -1;
  transform: rotate(90deg);
}

.elips-3-1-18 {
  position: absolute;
  width: 613px;
  height: 572px;
  left: 536px;
  top: 961px;
  z-index: -1;
  transform: rotate(90deg);
}

/** Footer elips **/

.elips-4-22 {
  position: absolute;
  width: 885px;
  height: 553px;
  right: 381px;
  top: 1268px;
  z-index: -1;
  transform: matrix(-1, 0, 0, 1, 0, 0);
}

.elips-4-21 {
  position: absolute;
  width: 711px;
  height: 506px;
  right: 439px;
  top: 962px;
  z-index: -1;
  transform: matrix(-1, 0, 0, 1, 0, 0);
}

.elips-4-20 {
  position: absolute;
  width: 680px;
  height: 457px;
  right: -157px;
  top: 915px;
  z-index: -1;
  transform: matrix(-1, 0, 0, 1, 0, 0);
}

.elips-4-19 {
  position: absolute;
  width: 1056px;
  height: 803px;
  left: 49px;
  top: 1087px;
  z-index: -1;
  transform: matrix(-1, 0, 0, 1, 0, 0);
}
/*** FIGURE END ***/

.comm_images {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
}

.footer-copiright {
  justify-content: space-between;
}

/* ---------------------------- MEDIA 1399 --------------------- */

@media screen and (max-width: 1704px) {
  .owl-next {
    right: -150px !important;
  }

  .owl-prev {
    left: -150px !important;
  }

  @media screen and (max-width: 1566px) {
    .owl-next {
      right: -90px !important;
    }

    .owl-prev {
      left: -90px !important;
    }

    @media screen and (max-width: 1420px) {
      .owl-next {
        right: -50px !important;
      }

      .owl-prev {
        left: -50px !important;
      }
    }

    @media screen and (max-width: 1381px) {
      .owl-next {
        right: -50px !important;
      }

      .owl-prev {
        left: -100px !important;
      }
      .errors-block {
        margin-left: 32px;
      }
    }

    @media screen and (max-width: 1400px) {
      .main_img {
        max-width: 555px;
      }

      .main_img_floor {
        width: 580px;
      }

      .main_img svg {
        top: 364px;
        left: -22px;
      }
    }

    /* ---------------------------- MEDIA 1025 --------------------- */
    @media screen and (max-width: 1325px) {
      .left_menu {
        margin-left: 2%;
      }

      .left_menu .nav-item .nav-link {
        padding-right: 7px;
        font-size: 13px;
      }

      .logo img {
        width: 75px;
      }

      .logo_text {
        font-size: 20px;
      }

      .menu .social {
        margin-right: 5%;
      }

      .discord,
      .twiter,
      .insta {
        width: 18px;
      }

      .menu ul li a.pink_button {
        font-size: 12px;
        width: 166px;
        padding: 13px 2px;
      }

      .btn-calc {
        width: 100%;
      }

      .representation h1 {
        font-size: 37px;
      }

      .main_info {
        width: 42%;
      }

      .main_img svg {
        top: 307px;
        width: 507px;
        left: 7px;
      }

      .video_preview {
        width: 424px;
        height: 380px;
      }

      .shadow_video {
        width: 424px;
        height: 380px;
        left: 40px;
        top: 40px;
      }

      .about-text {
        font-size: 35px;
      }

      .silver_text {
        font-size: 14px;
      }

      .about h5 {
        font-size: 18px;
      }

      .about-text-block {
        margin: 40px 0 0 9px;
      }

      .big_circle {
        left: 15%;
      }

      .left_circle-bottom {
        display: none;
      }

      .middle_circle {
        width: 150px;
        height: 150px;
      }
      .left_circle {
        width: 100px;
        height: 100px;
      }

      .big_road-text_block {
        width: 450px;
      }

      .big_road-percent_block {
        width: 460px;
      }

      .elips-3-18 {
        width: 382px;
        height: 435px;
      }

      .elips-3-17 {
        width: 353px;
        height: 443px;
      }

      .elips-3-1-18 {
        width: 413px;
        height: 372px;
      }

      details summary {
        font-size: 14px;
        width: 456px;
      }
      .sponsors__wrapper-1 div,
      .sponsors__wrapper-2 div {
        width: auto;
      }

      .footer_block_new-img {
        width: 212px;
        height: auto;
      }

      .team_block .yellow_text {
        font-size: 15px;
      }
    }

    /* ---------------------------- MEDIA 992 --------------------- */
    @media screen and (max-width: 992px) {
      .little_rep .error_message {
        /* display: block; */
        display: none;
        margin-top: 20px;
      }

      .right_menu {
        display: flex;
        justify-content: center;
        flex-flow: wrap;
        margin-top: 16px;
      }

      .elips-3-18 {
        right: 0;
      }
      .community p {
        width: 60%;
      }

      .big_border {
        display: none;
      }

      .menu ul li:nth-child(6) {
        margin-right: 48px;
      }

      .menu .social {
        margin-right: 37px;
      }

      .menu ul li:last-child {
        display: none;
      }

      .owl-carousel {
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .menu .pink_button {
        margin-top: 35px;
        width: 194px !important;
      }

      .big_rep {
        display: none;
      }

      .little_rep {
        display: block;
      }

      .little_rep-first h1 {
        font-weight: 900;
        font-size: 30px;
        width: 70%;
        margin: auto;
        text-align: center;
      }

      .main_img {
        min-height: 510px;
      }

      .main_img object {
        width: 100%;
        top: 280px;
        position: relative;
        z-index: -1;
      }

      .mob-position {
        flex-flow: wrap-reverse;
      }

      .about-text {
        text-align: center;
      }

      .play_video {
        top: 100px;
        left: 35%;
      }

      .video_preview {
        width: 100%;
        height: 306px;
      }

      .elips-11 {
        width: 500px;
        height: 491px;
        top: 741px;
      }

      .big_circle {
        left: 15%;
      }

      .big_circle svg {
        width: 480px;
        height: 480px;
      }

      .social_block {
        width: 580px;
      }

      .comm_images {
        display: grid;
        grid-template-columns: 130px 130px 130px 130px;
        margin-left: 4%;
      }

      .community-content {
        right: 45px;
        width: 100%;
      }

      .utility .silver_text {
        text-align: left;
      }

      .teams {
        flex-direction: column;
        align-items: center;
      }

      .team_block {
        margin: auto;
      }
      .road-block {
        flex-direction: column;
        align-items: center;
        margin-top: 30px;
      }

      .roadmap {
        width: 100%;
        overflow: hidden;
      }
      .roadmap-info {
        width: 600px;
        text-align: left;
        margin: auto;
      }

      .big_road-percent_block {
        width: 150px;
        text-align: center;
      }

      .line {
        height: 64px;
        left: 65px;
        z-index: -1;
        display: unset;
        padding-bottom: 40px;
      }
      .block-line {
        height: 111px;
      }

      .big_road-text_block {
        z-index: 9999;
      }
      .order-mob-1 {
        order: 1 !important;
      }

      .order-mob-2 {
        order: 2 !important;
      }

      .order-mob-3 {
        order: 3 !important;
      }
      .elips-14 {
        position: absolute;
        width: 790px;
        height: 270px;
        right: 0;
        top: -88px;
        background: rgba(27, 118, 255, 0.11);
        z-index: -1;
      }

      details summary {
        width: 90%;
        margin: auto;
      }
    }

    /* ---------------------------- MEDIA 767 --------------------- */
    @media screen and (max-width: 767px) {
      .error_message {
        margin-top: 95px !important;
      }

      .errors-block {
        margin-left: 12px;
      }

      .form_buttons ul {
        display: flex;
        justify-content: center;
        gap: 4px;
      }

      .menu {
        margin-bottom: 70px;
      }

      .representation h1 {
        font-size: 32px;
        width: 500px;
      }

      .footer_block_new {
        display: none;
      }

      .buy_btn {
        display: flex;
        justify-content: center;
      }

      .menu .pink_button {
        margin-top: 21px;
      }

      .big_rep {
        display: none;
      }

      .little_rep {
        display: block;
      }

      .little_border {
        width: 85%;
        left: 7%;
      }

      .representation ul {
        width: 163%;
        margin-left: 6%;
      }

      .about {
        margin-top: 100px;
      }

      .representation {
        margin-top: 50px;
      }

      .representation p {
        margin-top: 0px;
        text-align: center !important;
      }

      .representation h1 {
        height: 180px;
        text-align: center !important;
      }

      .representation ul {
        width: 91%;
        margin-left: 6%;
        margin-bottom: 75px;
      }

      .representation p {
        text-align: justify;
      }

      .big_road {
        display: none;
      }

      .little_road {
        display: block;
      }

      .roadmap {
        margin-top: 136px;
      }

      .roadmap p {
        width: 90%;
        text-align: center !important;
      }

      .roadmap .little_road p {
        margin-left: 5%;
      }

      .road_row {
        margin-top: 165px;
      }

      .image_part {
        height: 186px;
      }

      .line {
        height: 127px;
        left: 50%;
      }

      .footer__button button {
        width: 220px;
      }

      .lit_comm {
        max-width: 82%;
      }

      .comm_images {
        margin-left: 3%;
      }

      .img_centr {
        width: 100%;
      }

      .big_circle {
        left: 5%;
        margin-top: 18%;
      }

      .join_lit {
        font-size: 33px!important;
      }
    }

    @media screen and (max-width: 550px) {
      .slider_description {
        min-height: 332px;
      }

      .open-slider-info {
        display: block;
      }

      .third__div {
        width: 100% !important;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .third__div img {
        width: 160px !important;
        height: 41px !important;
      }

      .menu {
        margin-top: 18px;
        margin-bottom: 40px;
      }

      .logo_text {
        font-family: "Bangers";
        font-size: 18px;
        letter-spacing: 0.03em;
        font-weight: 400;
        margin-left: 0;
      }

      .logo img {
        width: 44px;
        height: 44px;
      }

      .logo-bloc {
        max-width: 130px;
      }

      .representation h1 {
        font-weight: 900;
        font-size: 28px;
        width: 90%;
      }

      .buy_btn {
        margin-top: 80px;
      }

      .representation {
        margin: 0;
        padding: 0;
      }

      .about-text {
        font-size: 26px;
      }

      .about-text-block .silver_text {
        font-weight: 500;
        font-size: 14px;
        color: #c9cbd6;
      }

      .about h5 {
        font-size: 20px;
        text-align: center;
      }

      .video_preview {
        width: 252px;
        height: 228px;
        margin: auto;
      }

      .shadow_video {
        display: none;
      }

      .play_video {
        top: 80px;
        width: 72px;
        height: 72px;
        left: 91px;
        background-size: 22px;
      }

      .community-border {
        border: unset;
      }

      .community {
        padding-top: 0px;
      }

      .big_circle {
        left: 0;
        width: 100%;
      }

      .big_circle svg {
        width: 521px;
        height: 521px;
        left: -77px;
        top: 126px;
        position: absolute;
      }

      .community h2 {
        font-size: 26px;
        text-align: center;
        width: 300px;
        margin: auto;
      }

      .community .silver_text {
        font-size: 14px;
        width: 260px;
        margin: 14px auto 37px;
      }

      .community-content {
        left: 0;
      }

      .social_block {
        width: 80%;
        margin: auto;
      }

      .comm_images {
        display: grid;
        grid-template-columns: auto auto auto;
        margin-left: 4%;
      }

      .utility {
        top: 200px;
      }

      .slider_cell {
        width: auto;
        height: auto;
        padding-bottom: 0;
      }

      .slider_description {
        display: none;
      }

      .slider-title {
        margin-bottom: 20px;
      }

      .footer .footer_info {
        width: 100%;
      }

      .footer-copiright {
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
        text-align: center;
      }

      .foot-social {
        margin-top: 28px;
        justify-content: center !important;
        align-items: center !important;
      }

      .faq-info {
        width: auto;
      }

      details summary {
        height: auto;
        width: 84%;
      }

      details summary:after {
        top: 28px;
      }

      .faq h3 {
        font-size: 26px;
      }

      .faq-info {
        max-width: 320px;
      }

      .faq-info .silver_text {
        text-align: center;
      }

      .roadmap h3 {
        font-size: 26px;
      }

      .roadmap-info {
        width: auto;
      }
      .roadmap p {
        width: auto;
      }

      .img_centr {
        width: 118px;
      }

      .comm_images {
        margin-left: 0;
      }

      .left_circle,
      .left_circle-bottom,
      .middle_circle {
        display: none;
      }

      .right_menu {
        display: flex;
        justify-content: center;
        flex-flow: wrap;
        margin-top: 16px;
      }
    }

    @media screen and (max-width: 1675px) {
      .owl-prev {
        left: -100px;
      }

      .owl-next {
        right: -100px;
      }
    }

    @media screen and (max-width: 1250px) {
      .owl-prev {
        left: -50px;
      }

      .owl-next {
        right: -50px;
      }
    }

      @media screen and (max-width: 540px) {
        .comm_images {
          margin-left: 9%;
        }
    }

      @media screen and (max-width: 470px) {
        .comm_images {
          margin-left: 11%;
        }
    }

       @media screen and (max-width: 430px) {
        .comm_images {
          margin-left: 10%;
        }
    }

      @media screen and (max-width: 414px) {
        .comm_images {
          margin-left: 6%!important;
        }
    }

      @media screen and (max-width: 390px) {
        .comm_images {
          margin-left: 5%!important;
        }
    }


    @media screen and (max-width: 415px) {

      .tm__phone {
        font-size: 33px !important;
      }
      .p_tm {
        width: 94%;
      }

      .social-text {
        font-size: 14px;
      }

      .comm_images {
        margin-left: 0%;
    }
    }

    @media screen and (max-width: 380px) {
      .lit_comm {
        margin-left: -3%;
    }
    .errors-block {
      margin-left: 32px;
    }
    }
  }
}

@media screen and (max-width: 400px) {
  .comm_images {
    margin-left: -1%;
}
 }
 @media screen and (max-width: 390px) {
  .comm_images {
    margin-left: -3%;
}
 }

 @media screen and (max-width: 380px) {
  .comm_images {
    margin-left: 2%;
}
 }

 @media screen and (max-width: 380px) {
  .comm_images {
    margin-left: 0%;
}
 }

 @media screen and (max-width: 380px) {
  .comm_images {
    margin-left: 1%;
}
 }