
.montserrat-black-white-44px {
  color: var(--white);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-xxxl2);
  font-weight: 900;
  font-style: normal;
}

.montserrat-bold-sunflower-16px {
  color: var(--sunflower);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-m);
  font-weight: 700;
  font-style: normal;
}

.montserrat-bold-sunflower-26px {
  color: var(--sunflower);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-xxl);
  font-weight: 700;
  font-style: normal;
}

.montserrat-medium-ghost-16px {
  color: var(--ghost);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-m);
  font-weight: 500;
  font-style: normal;
}

.montserrat-semi-bold-white-15px {
  color: var(--white);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-s);
  font-weight: 600;
  font-style: normal;
}

.montserrat-bold-white-26px {
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-xxl);
  font-weight: 700;
  font-style: normal;
}

.montserrat-extra-bold-white-20px {
  color: var(--white);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-xl);
  font-weight: 800;
  font-style: normal;
}

.montserrat-semi-bold-white-10px {
  color: var(--white);
  font-family: var(--font-family-montserrat);
  font-size: 10px;
  font-weight: 600;
  font-style: normal;
}

.montserrat-bold-white-16px {
  color: var(--white);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-m);
  font-weight: 700;
  font-style: normal;
}

.montserrat-extra-bold-white-18px {
  color: var(--white);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-l);
  font-weight: 800;
  font-style: normal;
}

.montserrat-medium-ghost-15px {
  color: var(--ghost);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-s);
  font-weight: 500;
  font-style: normal;
}