:root {
  --ghost: rgba(201, 203, 214, 1);
  --sunflower: rgba(232, 205, 26, 1);
  --white: rgba(255, 255, 255, 1);

  --font-size-xs: 14px;
  --font-size-s: 15px;
  --font-size-m: 16px;
  --font-size-l: 18px;
  --font-size-xl: 20px;
  --font-size-xxl: 26px;
  --font-size-xxxxl: 56px;
  --font-size-xxxl2: 44px;

  --font-family-montserrat: "Montserrat";
}