.name {
  letter-spacing: 0;
  line-height: 36.0px;
  margin-right: 1.0px;
  margin-top: 17px;
  min-height: 36px;
  min-width: 124px;
  text-align: center;
  white-space: nowrap;
  padding-bottom: 50px;
}

.utility-icon {
  height: 70px;
  width: 58px;
}